body {
    background-color: #B7C4CF;
    color: #DD5353;
}

a {
    color: #002B5B;
}

h1 {
    color: #B73E3E;
}

nav {
    background-color: #850E35;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {color: #D8D9CF;

}

nav a:hover {background-color: #96E5D1;}