body {
    background-color: #850E35;
    color: #DD5353;
}

a {
    color: #002B5B;
}

h1 {
    color: #b28282;
}

nav {
    background-color: #850E35;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {color: #D8D9CF;
}

nav a:hover {background-color: aliceblue;
}

.header1{
    display: flex; 
    background-color: aliceblue; 
    border-radius: 1em; 
    padding: 5em;
    margin: 30px;}

.address{
    flex: 1; 
    }

.links{
    flex: 2; 
    padding-left: 2em;
    }

.header2{
    display: flex;
    background-color: aliceblue; 
    border-radius: 1em; 
    padding: 10em;
    padding: 80px;
    margin: 30px;
}


.map{
    background-color: aliceblue;
    flex: 2;
    padding: 10px;
}
    

.form {
    background-color: aliceblue;
    flex: 1; 
    margin: 5px;
    padding: 30px;
}

img{
    width: 70px;
}

