body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
    color: darkslateblue;
    font-size: 12em
}
h2 {
    color: darkslateblue;
    font-size: 18em

}
.special {color: purple}
.evenrow {background-color: darkslateblue;}